.mainContent{
    width: 1230px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F1F5F9;
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 6px;
    font-size: 12px;
}
.breadcrumb p:last-child{
    color: #2563EB;
    font-weight: 500;
}
.pageHeaderRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pageTitle{
    display: flex;
    flex-direction: column;
}
.pageTitle h2{
    font-size: 20px;
    font-weight: 700;
    color: #111827;
}
.pageTitle span{
    font-size: 13px;
    font-weight: 400;
    color: #6B7280;
}
.actionButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.actionButtons button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    font-size: 14px;
    padding: 10px 14px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}
.excelBtn{
    font-weight: 500;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    color: #374151;
}
.newBtn{
    font-weight: 900;
    border: none;
    background-color: #1B3A6B;
    color: #fff;
}

.searchCard{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background-color: #fff;
    gap: 12px;
}
.searchTitleRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 700;
    color: #1B3A6B;
}
.searchFields{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    gap: 16px;
}
.searchFields > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.searchFields > div > label{
    color: #374151;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
}
.searchFields > div > input, .searchFields > div > select{
    padding: 9px 12px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    outline: none;
    font-size: 13px;
    transition: border-color 0.2s ease-in-out;
}
.searchFields > div > input:focus, .searchFields > div > select:focus{
    border-color: #9CA3AF;
}
.searchFields > div > input:placeholder, .searchFields > div > select{
    color: #9CA3AF;
}
.searchFields > div > select > option{
    color: #374151;
}
.searchBtn, .resetBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 10.5px 20px;
    border-radius: 6px;
    font-size: 13px;
    white-space: nowrap;
}
.searchBtn{
    background-color: #1B3A6B;
    color: #fff;
}
.resetBtn{
    background-color: #fff;
    border: 1px solid #D1D5DB;
    color: #6B7280 ;
}
.searchBtn img, .resetBtn img{
    width: 13px;
    height: 13px;
}

.tableCard{
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}
.tableCard table{
    width: 100%;
}
.재직중{
    font-weight: 900;
}