@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

.pageWrap {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 56px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1b3a6b;
  font-family: sans-serif;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
}
